In [38]:
import pandas as pd
import numpy as np

In [42]:
sets = pd.read_pickle('../db_files/dev_lvl7_mu_nu_e_classification_v003/sets.pkl')
train = sets['train']
test = sets['test']

In [40]:
len(train_events), len(test_events), len(train_events)+len(test_events) #80-20 split

(6633442, 1658362, 8291804)

In [36]:
val=np.unique(train_events['event_no'])

In [32]:
train_events.sort_index()

         event_no
0          890000
0        15012865
0        10967719
0         7235146
1        10967720
...           ...
4345829    979994
4345830    979995
4345831    979996
4345832    979997
4345834    979999

[6633442 rows x 1 columns]

In [35]:
val, count=np.unique(np.sort(sets['train'].index), return_counts=1)
np.sum(count), len(val)

(6633442, 3843740)

In [16]:
zeni_pred=np.random.uniform(0,np.pi, len(test))
zeni_sig=abs(np.random.normal(0.2,0.2, len(test)))

In [17]:
pred=pd.DataFrame(test)
pred['zenith_pred']=zeni_pred
pred['zenith_sigma']=zeni_sig