In [3]:
import sqlite3, os, sys
import pandas as pd
import tensorflow as tf
import numpy as np
from tqdm.notebook import tqdm

In [1]:
db_path = "../db_files/dev_level7_mu_e_tau_oscweight_000/dev_level7_mu_e_tau_oscweight_000.db"

In [4]:
conn = sqlite3.connect(db_path)

In [5]:
cursor = conn.cursor()

In [5]:
cursor.execute(f"SELECT name FROM sqlite_master WHERE type='table';")

In [6]:
print(cursor.fetchall())

[]

In [8]:
df_feat=pd.read_sql("select * from features limit 100", conn)

     event_no  charge_log10  dom_time     dom_x     dom_y     dom_z
0   111145172     -0.583333  2.405660  0.000000  0.255849 -0.936072
1   111145172      0.583333  5.239623 -2.468251  1.038192 -1.074582
2   111145172      0.083333  0.096226 -0.965874  1.228854 -0.290742
3   111145172     -0.666667  1.420755 -0.965874  1.228854 -0.290742
4   111145172      0.083333 -0.371698 -0.965874  1.228854 -0.428203
..        ...           ...       ...       ...       ...       ...
95  111145175      0.916667  0.666038  0.317855 -0.061288  0.033740
96  111145175      0.583333  1.926415  0.317855 -0.061288 -0.192590
97  111145175     -0.916667  1.984906  0.317855 -0.061288 -0.192590
98  111145175      0.500000  0.660377 -0.057160  0.959408  0.728146
99  111145175      0.500000 -0.032075 -0.057160  0.959408  0.388732

[100 rows x 6 columns]

In [11]:
df_truth=pd.read_sql("select * from truth limit 1000000", conn)

In [13]:
n_data = 100
start_id = conn.execute(f"select distinct event_no from truth where pid = 13")
stop_id  = conn.execute(f"select distinct event_no from truth where pid = 13 limit 1 offset {n_data}")

In [15]:
start_id.fetchall()

[]

In [12]:
stop_id.fetchall()

[(138674472,)]

In [16]:
start, stop = 0, 100000
# start_id  = conn.execute(f"select distinct event_no from features where pid = 13 limit ")
event_nos = pd.read_sql(f"select distinct event_no from features limit {stop} offset {start}", conn)

In [17]:
event_nos

        event_no
0      120102888
1      120102889
2      120102890
3      120102891
4      120102892
...          ...
99995  120228027
99996  120228028
99997  120228029
99998  120228030
99999  120228031

[100000 rows x 1 columns]

In [23]:
start, stop = 0, 100000
select_rows = ["dom_x", "dom_y", "dom_z", "time", "charge_log10"]

start_id = conn.execute(f"select distinct event_no from features limit 1 offset {start}").fetchall()[0][0]
stop_id  = conn.execute(f"select distinct event_no from features limit 1 offset {stop}").fetchall()[0][0]

In [24]:
features = ["dom_x", "dom_y", "dom_z", "time", "charge_log10"]
targets  = ["energy_log10", "position_x", "position_y", "position_z", "direction_x", "direction_y", "direction_z"]
feature_call = ", ".join(features)
target_call  = ", ".join(targets)
df_event = pd.read_sql(f"select event_no       from features where event_no >= {start_id} and event_no < {stop_id}", conn)
df_feat  = pd.read_sql(f"select {feature_call} from features where event_no >= {start_id} and event_no < {stop_id}", conn)
df_targ  = pd.read_sql(f"select {target_call } from truth    where event_no >= {start_id} and event_no < {stop_id}", conn)

In [25]:
idx_list    = np.array(df_event)
x_not_split = np.array(df_feat)

In [30]:
np.shape(idx_list)

(5965924, 1)

In [31]:
ids, idx, counts = np.unique(idx_list.flatten(), return_index = True, return_counts = True)

In [29]:
np.sum(counts)

5965924

In [34]:
x_not_split.shape

(5965924, 5)

In [35]:
xs = np.split(x_not_split, np.cumsum(counts))

In [61]:
ys = np.array(df_targ)

In [43]:
np.shape(xs)

C:\Users\chris\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

(100001,)

In [24]:
for x, y in zip(xs, ys):
    print(x, y)
    break

[[-1.84428951 -1.22482404  0.39792449 -1.56428307  0.16261479]
 [-0.2078301  -0.18691354 -0.44418075 -1.68247499 -1.92155384]
 [ 0.06322446 -0.29591152 -0.46829432 -0.05335309 -0.38592265]
 [ 0.06322446 -0.29591152 -0.14411839  0.90848462  0.23806267]
 [ 0.06322446 -0.29591152 -0.14411839 -1.41830308  1.49374495]
 [ 0.06322446 -0.29591152 -0.08772599 -0.02074843 -1.65692291]
 [ 0.06322446 -0.29591152 -0.08772599 -0.03223416  0.44497857]
 [ 0.          0.29478052 -0.12298133  0.44979622 -0.38592265]
 [-0.04194698 -0.15939176 -0.25229772 -0.30048166  0.        ]
 [-0.04194698 -0.15939176 -0.23821973 -0.30085217  0.89259397]
 [-0.04194698 -0.15939176 -0.2241216  -0.29529455 -1.0557719 ]
 [-0.04194698 -0.15939176 -0.1818273  -0.26083735 -0.62103541]
 [-0.07899002  2.28041226  1.09275381  1.07373101  0.50835111]
 [ 0.74159036  1.95723031  0.97476017  1.00629863  0.68454405]
 [-0.25763961  1.79339814  0.32990768  0.42645424  0.31007972]
 [-0.25763961  1.79339814  0.32990768 -1.44942571  0.08339316]
 [ 1.57315399  1.61653821 -0.30774491  1.49796221  0.        ]
 [-0.93855879  1.22444714 -0.21468941 -0.86958133 -1.65692291]
 [-1.84428951 -1.22482404  0.2952356   1.43682845 -0.08802844]
 [-1.84428951 -1.22482404  0.2952356   1.44831419 -1.23196479]
 [ 1.15607526 -0.72968336  0.22442329  0.1852538   0.56928578]
 [ 1.63025862 -0.66831435 -0.38927661  1.73879215  0.31007972]
 [-2.16434302 -0.81802952 -0.42762903  1.10522416 -1.65692291]
 [ 0.62182865  0.67221013  0.98435329  0.6146721   0.08339316]
 [-0.2078301  -0.18691354 -0.50055305 -0.50537236 -0.08802844]
 [ 1.74454889  0.68188676  0.33887737 -0.80214894 -0.28027669]
 [ 1.87918454  1.22637405  0.41127847 -0.87736199  1.52674827]
 [ 1.87918454  1.22637405  0.41127847  0.36643201 -1.65692291]
 [ 1.87918454  1.22637405  0.30858958 -0.59429418  0.37896459]
 [ 1.87918454  1.22637405  0.30858958  0.80622453  0.23806267]
 [-1.93985576  1.0584786   0.12784826  1.74768433 -1.43023626]
 [-1.43957205  1.14075072  0.16153488  0.73138199 -0.28027669]
 [-2.12045071  0.57083614 -0.55513547 -0.90366803 -0.28027669]
 [-0.21305828  0.17426274 -0.33260259 -0.1170804   0.        ]] [-1.71554419 -0.01561767 -0.22638297 -0.12290451 -0.41149176  0.89830744
 -0.03652089]

In [63]:
from sklearn.neighbors import kneighbors_graph as knn
from spektral.data import Graph
neighbors=6

In [65]:
print("Generating adjacency matrices")
graph_list = []
for x, y in tqdm(zip(xs, ys), total = len(xs)):
    a = knn(x[:, :3], neighbors)



    graph_list.append(Graph(x = x, a = a, y = y))

graph_list = np.array(graph_list, dtype = object)

Generating adjacency matrices

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=100001.0), HTML(value='')))

In [51]:
s = [x.shape[0] for x in xs]

In [ ]:
xs = np.array(xs, dtype = object)[np.argsort(s)]

In [57]:
size, idx = np.unique(np.sort(s), return_index = True)

In [ ]:
preprocess(list(xs[4: 9]))

In [53]:
np.sort(s)

array([ 14,  19,  19, ..., 822, 876, 913])

In [46]:
idx

array([    0,     1,     4,     9,    21,    45,    85,   143,   244,
         401,   652,  1016,  1483,  2097,  2924,  4001,  5282,  6731,
        8466, 10599, 13093, 15805, 18756, 21801, 24937, 28170, 31567,
       34857, 38137, 41355, 44535, 47573, 50422, 53228, 55770, 58086,
       60383, 62484, 64403, 66274, 67917, 69509, 70992, 72361, 73664,
       74887, 75978, 76999, 77932, 78771, 79617, 80384, 81125, 81818,
       82484, 83089, 83658, 84237, 84756, 85227, 85712, 86149, 86570,
       86957, 87318, 87719, 88092, 88425, 88746, 89059, 89334, 89610,
       89868, 90105, 90354, 90606, 90834, 91059, 91268, 91484, 91711,
       91916, 92108, 92283, 92486, 92656, 92805, 92975, 93132, 93295,
       93449, 93584, 93732, 93878, 94005, 94124, 94236, 94346, 94449,
       94538, 94645, 94733, 94844, 94928, 95026, 95123, 95213, 95306,
       95396, 95483, 95584, 95668, 95763, 95835, 95906, 95966, 96052,
       96127, 96195, 96259, 96320, 96387, 96454, 96511, 96563, 96613,
       96675, 96739, 96798, 96853, 96905, 96948, 96997, 97039, 97085,
       97128, 97175, 97215, 97260, 97293, 97332, 97368, 97403, 97445,
       97485, 97516, 97552, 97585, 97624, 97667, 97699, 97728, 97765,
       97789, 97823, 97853, 97883, 97908, 97937, 97974, 98011, 98039,
       98070, 98095, 98114, 98133, 98156, 98179, 98212, 98242, 98262,
       98287, 98317, 98334, 98356, 98380, 98396, 98415, 98441, 98463,
       98485, 98505, 98527, 98551, 98566, 98588, 98613, 98635, 98652,
       98674, 98692, 98705, 98726, 98750, 98768, 98784, 98799, 98812,
       98826, 98842, 98854, 98867, 98882, 98896, 98906, 98921, 98933,
       98951, 98958, 98972, 98986, 99001, 99015, 99028, 99038, 99052,
       99066, 99081, 99091, 99105, 99117, 99124, 99139, 99148, 99156,
       99166, 99175, 99186, 99191, 99206, 99218, 99231, 99245, 99252,
       99257, 99270, 99285, 99294, 99300, 99310, 99316, 99327, 99335,
       99344, 99356, 99361, 99369, 99379, 99390, 99396, 99405, 99411,
       99424, 99432, 99444, 99451, 99462, 99471, 99478, 99483, 99487,
       99491, 99496, 99502, 99509, 99521, 99523, 99526, 99530, 99537,
       99542, 99545, 99552, 99558, 99561, 99567, 99572, 99577, 99583,
       99589, 99593, 99600, 99601, 99603, 99611, 99617, 99624, 99629,
       99633, 99641, 99650, 99655, 99661, 99663, 99667, 99671, 99678,
       99684, 99686, 99692, 99696, 99699, 99703, 99708, 99709, 99711,
       99719, 99722, 99725, 99733, 99736, 99741, 99744, 99747, 99749,
       99753, 99755, 99757, 99762, 99766, 99770, 99775, 99777, 99780,
       99782, 99786, 99789, 99790, 99791, 99794, 99797, 99799, 99805,
       99806, 99811, 99813, 99815, 99818, 99821, 99824, 99826, 99827,
       99829, 99831, 99834, 99837, 99838, 99841, 99843, 99844, 99846,
       99847, 99849, 99851, 99852, 99854, 99855, 99856, 99857, 99862,
       99866, 99872, 99873, 99876, 99878, 99880, 99882, 99884, 99885,
       99888, 99889, 99890, 99891, 99893, 99894, 99896, 99898, 99900,
       99903, 99904, 99906, 99907, 99908, 99910, 99911, 99913, 99914,
       99915, 99917, 99919, 99920, 99921, 99922, 99924, 99925, 99926,
       99927, 99928, 99930, 99931, 99932, 99933, 99935, 99937, 99938,
       99939, 99940, 99941, 99943, 99944, 99946, 99947, 99948, 99950,
       99953, 99954, 99956, 99957, 99958, 99959, 99960, 99961, 99962,
       99964, 99965, 99966, 99967, 99968, 99969, 99970, 99973, 99974,
       99975, 99976, 99977, 99979, 99980, 99982, 99983, 99984, 99985,
       99986, 99987, 99988, 99989, 99990, 99991, 99992, 99993, 99994,
       99995, 99996, 99997, 99998, 99999])